@import './variables';

.button {
  background-color: $primary-color;
  color: $button-text-color;
  border: none;
  border-radius: $border-radius;
  cursor: pointer;
  font-size: 20px;

  &:hover {
    background-color: darken($primary-color, 10%);
  }

  @media (max-width: $bp-mobile-landscape) {
    padding: $spacing-m $spacing-xl;
  }

  &.logout-btn {
    padding: $spacing-m $spacing-xl;
    min-width: 200px;
    @media (max-width: $bp-mobile-landscape) {
      padding: $spacing-s $spacing-xl;
    }
  }
}
