@import './variables';

input {
  border: 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 20px;

  &:focus {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
}

.todo-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: $spacing-l;
}

.todo-add-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 500px;
  width: 100%;
  margin-bottom: $spacing-s;
}

.todo-input {
  flex-grow: 1;
  margin-right: $spacing-s;
  height: $button-height;
  padding: $spacing-xs $spacing-xs $spacing-xs $spacing-m;
}

.todo-edit-input {
  padding: $spacing-s;
  min-width: 200px;
  min-height: calc($button-height - $spacing-s);
}

.todo-submit-btn {
  min-width: 200px;
  min-height: $button-height;
  @media (max-width: $bp-mobile-landscape) {
    padding: $spacing-s $spacing-xl;
  }
}

.todo-items {
  padding-left: 0%;
  max-width: 500px;
  width: 100%;
}

.todo-item {
  background-color: #fff;
  margin-bottom: $spacing-s;
  padding: $spacing-s;
  border-radius: $border-radius;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: $spacing-xl;
  font-size: 20px;
}

.task-done {
  text-decoration: line-through;
}

.task-actions {
  display: flex;
  align-items: center;
  gap: $spacing-xs;
}

.toggle-btn,
.remove-btn,
.edit-btn,
.save-btn {
  background-color: $secondary-color;
  color: white;
  border: none;
  padding: $spacing-s $spacing-m;
  border-radius: $spacing-xs;
  cursor: pointer;
  min-width: 70px;
  font-size: $base-font-size;

  &:hover {
    background-color: darken($secondary-color, 10%);
  }
}

.error-message {
  color: $error-color;
}

@media (max-width: $bp-tablet-portrait) {
  .todo-add-form,
  .todo-items {
    max-width: 80%;
  }

  .todo-add-form {
    flex-direction: column;
    align-items: stretch;
  }

  .todo-input {
    margin-right: 0;
    margin-bottom: $spacing-s;
  }

  .todo-items {
    align-items: stretch;
  }

  .todo-item {
    max-width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }

  .task-actions {
    margin-top: $spacing-s;
  }
}
